# Created by .ignore support plugin (hsz.mobi)
### Symfony template
# Cache and logs (Symfony2)
/app/config/parameters.yml
/build/
/phpunit.xml
/tmp
/vendor/
/web/bundles/

/composer.phar

RPMS
SOURCES
SPECS
SRPMS
STATICS
