parameters:
    ignoreErrors:
        #- '#Call to an undefined method .*::method\(\)#'
        #- '#Calling method set\(\) on possibly null value of type Symfony\\Component\\DependencyInjection\\ContainerInterface\|null#'
