imports:
    - { resource: config.yml }

#framework:
#    validation:
#        cache: validator.mapping.cache.apc
#    serializer:
#        cache: serializer.mapping.cache.apc

doctrine:
    orm:
        metadata_cache_driver: apcu
        result_cache_driver: apcu
        query_cache_driver: apcu

monolog:
    handlers:
        main:
            type: fingers_crossed
            channels: ['!app_access']
            action_level: error
            handler: nested
            excluded_404s:
                - ^/
        app_access:
            type:  stream
            channels: ['app_access']
            path:  "%kernel.logs_dir%/%kernel.environment%-access.log"
            level: info
        nested:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
        console:
            type:  console
