<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Clifton</title>
    </head>
    <body>
        <h1>Clifton</h1>
        <p>Clifton is a bridge between ProgrammesDB, and /programmes on Forge. It is an API that mimics a subset of APS's data feeds.</p>

        <h2>Feed List</h2>
        <p>TODO</p>

        <hr>
        <p> Deployed Version: {{release_number}}</p>
    </body>
</html>
